.page-header {
margin: 0 0 12px;
border-bottom: 1px dotted #E2E2E2;
padding-bottom: 16px;
padding-top: 7px
}



.page-header h1 {
padding: 0;
margin: 0 8px;
font-size: 22px; /* ramesh 24px; */
font-weight: lighter;
color: black; /* #2679B5 ramesh */
}



.page-header h1 small {
margin: 0 6px;
font-size: 14px;
font-weight: 400;
color: #8089A0
}



.page-header h1 medium {
margin: 0 6px;
    font-size: 20px;
    font-weight: 400;
    color: #8089A0
}



.list-group-item, .no-radius, .pager > li > a, .pagination > li > a {
border-radius: 0 !important
}



.pager > li > a:hover, .pagination > li > a:hover {
color: #1c6ca2;
background-color: #EAEFF2;
border-color: #c1d1d7;
z-index: 1
}



.pager > li > a:focus, .pagination > li > a:focus {
background-color: #eaeef2
}



.pager > li.disabled > a, .pager > li.disabled > a:hover, .pagination > li.disabled > a, .pagination > li.disabled > a:hover {
background-color: #F9F9F9;
border-color: #D9D9D9;
z-index: auto
}



.pagination > li.active > a, .pagination > li.active > a:focus, .pagination > li.active > a:hover {
background-color: #c7cbcd; /* ramesh  #6FAED9; */
border-color: #e0e0e0; /* Ramesh #6FAED9;  */
color: #FFF;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
z-index: 2
}



.breadcrumbs-fixed + .page-content {
padding-top: 49px
}



.message-footer .pagination {
margin: 0
}



.message-footer .pagination > li {
margin: 0;
padding: 0
}



.message-footer .pagination > li > a, .message-footer .pagination > li > span {
color: #777;
padding: 3px 6px;
margin-left: 1px;
margin-right: 1px;
background-color: transparent;
border: 1px solid transparent
}



.message-footer .pagination > li.disabled > span {
color: #BBB;
cursor: default;
background-color: transparent;
border-color: transparent
}



.message-footer .pagination > li > a:hover {
border-color: #91bad6;
color: #2283C5;
text-decoration: none;
background-color: #FFF
}



.message-footer-style2 .pagination > li.disabled > span, .message-footer-style2 .pagination > li > span {
border-color: #CCC
}



.message-footer-style2 .pagination > li > a:hover {
border-color: #84AFC9;
background-color: #F7F7F7
}



.dataTables_paginate .pagination {
margin: 0 12px
}