

}

.header {
line-height: 28px;
margin-bottom: 16px;
margin-top: 18px;
padding-bottom: 4px;
border-bottom: 1px solid #CCC
}



.header.less-margin {
margin-top: 10px;
margin-bottom: 10px
}



.header.blue {
border-bottom-color: #d5e3ef
}



.header.green {
border-bottom-color: #cce2c1
}



.header.purple {
border-bottom-color: #e0d1ea
}



.header.orange {
border-bottom-color: #fdd0ac
}



.header.orange2 {
border-bottom-color: #fbd36b
}



.header.red {
border-bottom-color: #f3cdc6
}



.header.grey {
border-bottom-color: #c3c3c3
}



.header.pink {
border-bottom-color: #f2e0eb
}



.header.pink2 {
border-bottom-color: #e69eb9
}



.header.light-blue {
border-bottom-color: #dceefc
}



.header.light-red {
border-bottom-color: #fec5c5
}



.header.light-green {
border-bottom-color: #d2e7b5
}



.header.brown {
border-bottom-color: #df9393
}



.header > .ace-icon {
margin-right: 2px
}



.search-media:hover .search-actions {
background-color: #F0F4F7
}



.search-media.disabled:hover .search-actions {
background-color: #F6F6F6
}



.search-media:not(.disabled):hover .search-actions::before {
background-image: -webkit-linear-gradient(top, #FFF 0, #84bee5 100%);
background-image: -o-linear-gradient(top, #FFF 0, #84bee5 100%);
background-image: linear-gradient(to bottom, #FFF 0, #84bee5 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffffff", endColorstr="#ff84bee5", GradientType=0)
}



.search-filter-header {
padding: 8px;
margin: -4px
}



.search-media:hover .search-btn-action {
bottom: 1px
}